<lp-header [showAddPanschButtons]="devMode" title="Latschi"></lp-header>

<ion-content>
    <ion-button (click)="openModal()" *ngIf="currentUser$ | async" class="legend-icon" fill="clear">
        <ion-icon color="primary" name="information-circle-outline" size="large" slot="icon-only"></ion-icon>
    </ion-button>

    <div class="ion-padding ion-text-center">
        <h3>Latschi Pansch Vol 12</h3>
        <h4>?????</h4>
        <!-- <lp-pansch-countdown *ngIf="!devMode"></lp-pansch-countdown>-->
    </div>

    <ion-list *ngIf="latschiPanschCollection$().length > 0; else emptyList" class="pansch-selection-list">
        <ion-item (click)="panschSelected(latschiPansch)" *ngFor="let latschiPansch of latschiPanschCollection$()">
            <ion-label>

                <h1>Vol. {{ latschiPansch.edition }}</h1>
                <p>{{ latschiPansch.createdAt.toMillis() | date: "dd.MM.YYYY" }}</p>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
                <ion-note *ngIf="currentUser$ | async"
                          color="medium">
                    <ion-icon *ngIf="(latschiPansch.players | async) as players" [color]="players.length > 0 ? 'success' : 'danger'"
                              name="people-outline"></ion-icon>&nbsp;
                    <ion-icon [color]="latschiPansch.isReleased ? 'success' : 'danger'"
                              [name]="latschiPansch.isReleased ? 'eye-outline' : 'eye-off-outline'"></ion-icon>&nbsp;
                    <ion-icon [color]="latschiPansch.isFinished ? 'success' : 'danger'"
                              [name]="latschiPansch.isFinished ? 'checkmark-outline' : 'close-circle-outline'"></ion-icon>
                </ion-note>
                <br>
            </div>
        </ion-item>
    </ion-list>
    <ng-template #emptyList>
        <ion-img class="vertical-center invert-image" src="assets/images/LatschiPansch_Logo_2D.png"></ion-img>
    </ng-template>
</ion-content>
