<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button href="/dart/dart-preliminary" tab="dart-preliminary">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Vorrunde</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/dart/dart-final" tab="dart-final">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Finale</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/dart/dart-result" tab="dart-result">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Ergebnis</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
