<ion-card *ngIf="game" [color]="game.team1.score === game.team2.score ? 'danger':''">
    <ion-card-header *ngIf="!customTitle">Spiel {{ game.gameNumber }}</ion-card-header>
    <ion-card-header *ngIf="customTitle">{{ customTitle }}</ion-card-header>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <lp-team (click)="updateScore(game.team1)" [team]="game.team1"></lp-team>
            </ion-col>
            <ion-col size="6">
                <lp-team (click)="updateScore(game.team2)" [team]="game.team2"></lp-team>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
