<ng-container *ngIf="currentPansch$ | async as currentPansch">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Viertelfinale</ion-title>
            <ion-buttons *ngIf="(currentUser$ | async)" slot="end">
                <ion-button
                        (click)="calculateFakeResult()"
                        *ngIf="testMode && !currentPansch?.kickerVfCalculationStarted && !currentPansch?.fakeKickerVfCalculationStarted">
                    <ion-icon name="bug-outline" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button (click)="calculateResult()" [disabled]="disableSave$ | async">
                    <ion-icon name="save-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ng-container
                *ngIf="!currentPansch.kickerCalculationFinished || currentPansch.isReleased; else panschNotFinished">
            <ion-list *ngIf="kickerVfGames$ | async as airHockeyVfGames">
                <lp-game-card *ngFor="let game of airHockeyVfGames" [calcStartedKey]="calcStartedKey"
                              [game]="game"></lp-game-card>
            </ion-list>
        </ng-container>
        <ng-template #panschNotFinished>
            <lp-pansch-waiting></lp-pansch-waiting>
        </ng-template>
    </ion-content>
</ng-container>
