<div class="lp-waiting"></div>
<ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar color="tertiary" type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar color="success" type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar color="warning" type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar color="danger" type="indeterminate"></ion-progress-bar>
