<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="medium">schließen</ion-button>
        </ion-buttons>
        <ion-title>Legende</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list class="legend-list">
        <ion-item>
            <ion-icon aria-hidden="true" color="success" name="people-outline" slot="start"></ion-icon>
            <ion-label>Alle Spieler ausgewählt</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon aria-hidden="true" color="danger" name="people-outline" slot="start"></ion-icon>
            <ion-label>Spielerauswahl anstehend</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon aria-hidden="true" color="success" name="eye-outline" slot="start"></ion-icon>
            <ion-label>Pansch für alle sichtbar</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon aria-hidden="true" color="danger" name="eye-off-outline" slot="start"></ion-icon>
            <ion-label>Pansch nur für Admins sichtbar</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon aria-hidden="true" color="success" name="checkmark-outline" slot="start"></ion-icon>
            <ion-label>Pansch abgeschlossen</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon aria-hidden="true" color="danger" name="close-circle-outline" slot="start"></ion-icon>
            <ion-label>Pansch im Gange</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
