<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="bowling-input" href="/bowling/bowling-input">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Pin-Eingabe</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="bowling-results" href="/bowling/bowling-results">
            <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
            <ion-label>Ergebnis</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
