<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button href="/air-hockey/air-hockey-af" tab="air-hockey-af">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>AF</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/air-hockey/air-hockey-vf" tab="air-hockey-vf">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>VF</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/air-hockey/air-hockey-hf" tab="air-hockey-hf">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>HF</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/air-hockey/air-hockey-final" tab="air-hockey-final">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Finale</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/air-hockey/air-hockey-result" tab="air-hockey-result">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Ergebnis</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
