<lp-header [title]="(currentUser$ | async) ?  'Abmelden' : 'Anmelden'"></lp-header>

<ion-content class="ion-padding">
    <h5 class="ion-padding">Latschi Pansch Admins können sich hier anmelden.</h5>
    <ng-container *ngIf="(currentUser$ | async) === null; else signOut">
        <form [formGroup]="loginFormGroup">
            <ion-item>
                <ion-input
                        formControlName="email"
                        id="user-text-field"
                        autocomplete="username"
                        label="E-Mail"
                        labelPlacement="floating"
                        placeholder="E-Mail eingeben"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                        formControlName="password"
                        label="Passwort"
                        type="password"
                        id="password-text-field"
                        autocomplete="current_password"
                        labelPlacement="floating"
                        placeholder="Passwort eingeben"></ion-input>
            </ion-item>
            <ion-row *ngIf="wrongLoginData()">
                <ion-col class="ion-padding login-error">
                    <h6>Falsche Anmeldedaten</h6>
                </ion-col>
            </ion-row>
            <ion-row class="login-button">
                <ion-col>
                    <ion-button
                            [disabled]="loginFormGroup.invalid"
                            color="success"
                            expand="block"
                            shape="round"
                            (click)="signIn()">Anmelden
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ng-container>
    <ng-template #signOut>
        <ion-row *ngIf="!signingIn()">
            <ion-col>
                <ion-button
                        color="danger"
                        expand="block"
                        shape="round"
                        (click)="logout()">Abmelden
                </ion-button>
            </ion-col>
        </ion-row>
    </ng-template>
</ion-content>
