<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button href="/kicker/kicker-vf" tab="kicker-vf">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>VF</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/kicker/kicker-hf" tab="kicker-hf">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>HF</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/kicker/kicker-final" tab="kicker-final">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Finale</ion-label>
        </ion-tab-button>
        <ion-tab-button href="/kicker/kicker-result" tab="kicker-result">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
            <ion-label>Ergebnis</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
